/* remove of the default styles of our browser  */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/**? this is for the navbar styles 
**/
.navbar{
    background-color: #3330E4;
    color:#fff;
    padding: 25px 60px;
    display: flex;
    font-display:row;
    justify-content: space-between;
}

.cart{
    background-color: black;
    color:white;
    padding: 5px;
    font-size: 30px;
    border-radius: 4px;
    position: relative;
}

.cartamount{
    font-size:16px;
    background-color: red;
    color:white;
    position:absolute;
    top:0;
    right:0;
}



