/* remove of the default styles of our browser  */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar{
    background-color: #3330E4;
    color:#fff;
    padding: 25px 60px;

}

