
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */


.navbar{
    background-color: #3330E4;
    color:#fff;
    padding: 25px 60px;
     display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-bottom: 30px;
    width: 100%;
    
}

.cart{
    background-color: black;
    color:white;
    padding: 5px;
    font-size: 30px;
    border-radius: 4px;
    position: relative;
}


/**
* ? this is for the cart amount 
**/
.cartamount{
    font-size:16px;
    background-color: red;
    color:white;
    position:absolute;
    top:-15px;
    right:-10px;
    padding:3px;
    border-radius: 3px;
}

.shirt{
    width:100%;
}

/**
* ? shop items space
**/

.shop{
display: grid;
grid-template-columns: repeat(4, 15rem);
gap:30px;
justify-content: center;

}

@media (max-width:1000px){
   .shop{
    grid-template-columns: repeat(1, 223px); 
   }
   /* .image1{
    width:219px;
} */

}

.item{
    border: 2px solid black;
    border-radius: 4px;

}

/* for flexind the price  */
.details{
    display:flex;
    flex-direction: column;
    padding: 10px;
    gap:10px;
}

.price-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* for the increment and decrement  */
.buttons{
    display: flex;
    gap:8px;
    font-size: 16px;
}

.fa-minus{
    color:green;
}


.fa-plus{
    color: red;
}